name: make_app_endless_plugin
description: A flutter plugin for running your flutter appplication even if it is removed from background and keeing all of your other plugin alive and active..
version: 0.0.3
homepage: https://github.com/chetan882777/make-app-endless-plugin

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.chetan.make_app_endless_plugin
        pluginClass: MakeAppEndlessPlugin